.auctions {
    display: flex;
    flex-direction: column;
    padding: 80px;
    padding-right: 0;
    gap: 80px;
    .heading {
    }
    .mantine-Carousel-root {
      display: flex;
      flex-direction: column;
  
      .mantine-Carousel-controls {
        order: -1;
        display: flex;
        justify-content: flex-end;
        width: fit-content;
        gap: 28px;
        position: relative;
        width: 100%;
        padding: 0 80px 42px ;
        .mantine-Carousel-control{
          background: none;
          &:hover{
            opacity: 0.5;
          }
        }
      }
      
    }
  
    .mantine-Carousel-slide {
      .card {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 32px;
        justify-content: space-between;
        width: 495px;
        background: #3d2942;
  
        .image {
          width: 100%;
          height: 359px;
          display: flex;
          justify-content: flex-start;
          align-items: flex-end;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
  
          .timer {
            width: 194px;
            height: 66px;
            display: flex;
            justify-content: center;
            align-items: center;
            backdrop-filter: blur(45px);
            box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.12);
            background: linear-gradient(
              177deg,
              #8613a5 0%,
              rgba(250, 250, 250, 0.65) 100%
            );
            opacity: 0.95;
            font-weight: 600;
            font-size: 24px;
            letter-spacing: 0.02em;
            color: #f5fbf2;
          }
        }
  
        .title {
            display: flex;
            flex-direction: column;
            gap: 28px;
            .author {
              display: flex;
              justify-content: space-between;
    
              .left-part {
                display: flex;
                gap: 16px;
                .author-icon {
                  img {
                    border-radius: 100%;
                  }
                }
                .author-info {
                  display: flex;
                  flex-direction: column;
                   .author-name {
                    line-height: 100%;

                    font-weight: 500;
                    font-size: 28px;
                    color: #f5fbf2;
                  }
                  .author-tag {
                    line-height: 100%;
                    font-weight: 400;
                    font-size: 20px;
                    color: #bdaac1;
                  }
                }
              }
              .right-part {
                display: flex;
                align-items: center;
                .likes {
                    display: flex;
                    gap: 12px;
                    align-items: center;
                    margin-bottom: 4px;


                  .like-icon {

                  }
                  span {
                    font-weight: 400;
                    font-size: 32px;
                    line-height: 100%;
                    color: #76607a;
                  }
                }
              }
            }
          }
  
          .price {
            display: flex;
            justify-content: space-between;
            
            span:first-child {
              font-weight: 400;
              font-size: 24px;
              line-height: 100%;
              color: #c6bfc8;
            }
            .price-value {
              font-weight: 700;
              font-size: 24px;
              line-height: 100%;
              color: #f5fbf2;
            }
      }
  
        .place-bid {
          button {
            width: 100%;
            font-weight: 500;
            font-size: 24px;
            line-height: 100%;
            letter-spacing: 0.05em;
            color: #fff;
          }
        }
      }
    }
  }