.partners{
    display: flex;
    margin-bottom: 100px;
    .brands{
        margin: 0 auto;
        width: 1235px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img.brand{

        }

    }
}