@charset "UTF-8";
/* NULL CSS */
/* Вказуємо box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Прибираємо внутрішні відступи */
ul[class],
ol[class] {
  padding: 0;
}

/* Прибираємо зовнішні відступи */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Виставляємо основні налаштування за замовчуванням для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Видаляємо стандартну стилізацію для всіх ul і il, у яких є атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Елементи a, у яких немає класу, скидаємо до дефолтних стилів */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Спрощуємо роботу із зображеннями */
img {
  max-width: 100%;
  display: block;
}

/* Вказуємо зрозумілу періодичність у потоці даних у article*/
article > * + * {
  margin-top: 1em;
}

/* Успадковуємо шрифти для інпутів і кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Видаляємо всі анімації та переходи для людей, які вважають за краще їх не використовувати */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
header.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  position: fixed;
  width: 100vw;
  top: 0;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  z-index: 10;
}
header.header nav.header-menu {
  display: flex;
  gap: 60px;
}
header.header nav.header-menu a {
  position: relative;
  padding: 8px 3px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #f5fbf2;
  text-decoration: none;
  transition: color 0.3s ease;
}
header.header nav.header-menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #FFCE4E;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}
header.header nav.header-menu a:hover {
  color: #FFCE4E;
}
header.header nav.header-menu a:hover::after {
  transform: scaleX(1);
}

.hero {
  display: flex;
  justify-content: space-between;
  padding-left: 60px;
  margin-bottom: 200px;
}
.hero .left-part, .hero .right-part {
  flex: 1;
  width: 50%;
}
.hero .left-part {
  padding: 265px 40px 8px 20px;
  display: flex;
  flex-direction: column;
}
.hero .left-part .top-part {
  margin-bottom: 120px;
}
.hero .left-part .top-part h1 {
  font-weight: 700;
  font-size: 85px;
  line-height: 153%;
  color: #f5fbf2;
  padding-bottom: 75px;
}
.hero .left-part .top-part h1 span {
  color: #ffce4e;
}
.hero .left-part .top-part .button {
  display: flex;
  gap: 48px;
}
.hero .left-part .bottom-part {
  display: flex;
  gap: 100px;
}
.hero .left-part .bottom-part .stat-number {
  display: flex;
  flex-direction: column;
}
.hero .left-part .bottom-part .stat-number strong {
  font-weight: 700;
  font-size: 62px;
  color: #f5fbf2;
}
.hero .left-part .bottom-part .stat-number span {
  font-weight: 400;
  font-size: 24px;
  line-height: 148%;
  color: #9b9e9a;
}
.hero .right-part {
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  background: rgba(79, 70, 78, 0.45);
  padding: 240px 0 100px 60px;
}
.hero .right-part .auction-card {
  width: 556px;
  display: flex;
  flex-direction: column;
}
.hero .right-part .auction-card .top-part {
  display: flex;
  padding: 25px 22px 0 22px;
  justify-content: flex-start;
  background: url("../assets/img/Group 36652.png");
  height: 576px;
}
.hero .right-part .auction-card .top-part .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  -webkit-backdrop-filter: blur(45px);
          backdrop-filter: blur(45px);
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.12);
  background: linear-gradient(145deg, rgba(255, 137, 61, 0.09) 0%, rgba(250, 250, 250, 0.65) 100%);
  opacity: 0.95;
}
.hero .right-part .auction-card .top-part .info .info-cell {
  display: flex;
  flex-direction: column;
}
.hero .right-part .auction-card .top-part .info .info-cell .name {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.08em;
  text-transform: capitalize;
  color: #e4dee7;
}
.hero .right-part .auction-card .top-part .info .info-cell .value {
  font-weight: 700;
  font-size: 32px;
  color: #fff;
}
.hero .right-part .auction-card .bottom-part {
  display: flex;
  width: 100%;
  height: 142px;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
.hero .right-part .auction-card .bottom-part .name {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.hero .right-part .auction-card .bottom-part .name span:first-child {
  font-weight: 600;
  font-size: 28px;
  letter-spacing: 0.07em;
  color: #16091b;
}
.hero .right-part .auction-card .bottom-part .name span:last-child {
  font-weight: 400;
  font-size: 24px;
  line-height: 148%;
  color: #594d5e;
}
.hero .right-part .auction-card .bottom-part .start-bit Button {
  line-height: auto;
  font-weight: 700;
  font-size: 24px;
  color: #000;
}

.partners {
  display: flex;
  margin-bottom: 100px;
}
.partners .brands {
  margin: 0 auto;
  width: 1235px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body {
  background-color: #1C121F;
}/*# sourceMappingURL=App.css.map */